<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojinha</title>
    <style>
 *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.maincbc{
    background-color: rgb(18, 18, 82);
}
.cbc{
    background-color: rgb(18, 18, 82);
}
a{
    padding: 20px;
}
.links{
    text-align: center;
}
a:hover{
    background: rgba(255, 255, 255, 0.9);
    color: rgb(18, 18, 82);
}
    </style>
</head>
<body>
    <header class="cbc">
    <div class="maincbc">
        <center><h1 style="padding: 10px; font-family: sans-serif; color: white;">Lojinha</h1></center>
            <div class="links" style="background-color: rgb(18, 18, 82);
            border: none;">       
                    <a style="float: center; font-family: sans-serif; display: inline-block; color: white; text-decoration: none;" href="#"><b>HOME</b></a>
                    <a style="float: center; font-family: sans-serif; display: inline-block; color: white; text-decoration: none;"href="#"><b>PRODUTOS</b></a>
                    <a style="float: center; font-family: sans-serif; display: inline-block; color: white; text-decoration: none;"href="#"><b>SOBRE NÓS</b></a>
            </div>
                </div>
            </ul>
        </div>

    </div>
    </header>
</body>
</html>
